body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #EC9F75;
  text-align: center;
  align-items: center;
}

img{
  max-width: 100%;
  max-height: 100%;
}

header {
  position: flex;
  left: 23.54%;
  right: 23.54%;
  top: 3%;
  bottom: auto;
  font-size: 4vw;
  font-size: 8vh;
  -webkit-text-stroke: 2px black;
}

hr{
  height: 1px;
  background-color: #EC9F75;
  border: none;
}

.score {
  position: absolute;
  font-size: 4vw;
  font-size: 4vh;
  display: flex;
  -webkit-text-stroke: 1.5px black;
  top: 2%;
  bottom: auto;
}

#yourScore{
  left: 1%;
  right: auto;
}

#opponentScore{
  left: auto;
  right: 1%;
}

#canvas{
  position: absolute;
  left: 20.5%;
  right: 20.5%;
  top: 15%;
  bottom: 13%;
  background: rgba(110, 198, 194, 0.65);
  border-radius: 60px;
}


.btn {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  background-color: #EC9F75;
  border: none;
  color: #66B9A3;
  -webkit-text-stroke: 2px black;
  width: 40%;
  height: 40%;
  font-size: 220%;
  font-size: 6vh;
  font-size: 4vw;
  border-radius: 25px;
}

#quitBtn{
  left: 40.85%;
  right: 43.85%;
  top: auto;
  bottom: 1%;
  width: 18%;
  height: 10%;
  font-size: 300%;
  font-size: 3.5vh;
  font-size: 3.3vw;
}

#popUpText, #popUpText2{
    font-size: 4vh;
    font-size: 2.7vw;
}

#yesBtn, #againBtn{
  left: 7.44%;
  right: auto;
  top: 42.29%;
  bottom: 18.06%;
}

#noBtn, #okBtn{
  left: auto;
  right: 7.44%;
  top: 41.29%;
  bottom: 18.06%;
}

#quitBtn:hover{
  text-transform: uppercase;
}

#popUp, #finPopUp {
  display: none; 
  background: #66B9A3;
  border: 5px solid #000000;
  font-size: 150%;
  line-height: 85%;
  -webkit-text-stroke: 2px black;
  border-radius: 60px;
  height: 30%;
  width: 45%;
  bottom: 40%;
  left: 26.5%;
  right: 22%;
  height: 25%;
  position: absolute;
  font-size: 3vw;
  font-size: 3vh;
}

#outer {
  border-radius: 15px;
  padding: .5em;
  display: block;
  min-width: 98%;
  min-height: 100%;
  bottom: 50%;
  font-size: 2vh;
}
  
.card {
  display: grid;
  border: 2.5px solid black;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  max-height: 90%;
  max-width: 17%;
  padding: .5em;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-color: white;
}

.not_found{
  background-color: white;
}

.found{
  background-color: #c3c3c3;
}
  
ul {
  display: flex;
  list-style: none;
  height: 80%;
  width: 98.5%;
  border-radius: 15px;
  padding: .5em;
}

.front, .rear{
  grid-column: 1;
  grid-row:1;
}
.open{
  -webkit-animation: openn 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: openn 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.close{
  -webkit-animation: close 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: close 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/*Slide animation*/
@keyframes close {
  100% {
    opacity: 1;
  }
  0% {
      opacity: 0;
  }
}

@keyframes openn {
  0% {
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

#popUpText2::before {
  content: "You finished in ";
}